<ion-header>
  <ion-toolbar>
    <ion-title>Minhas Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input (click)="this.antNome=''">{{antNome}}</ion-input>
    </ion-item>
    <br>
    cpf:  
sobrenome: 
nomeFantasia: 
telefone: 
descrServicos: 
formaPagamento:
tags: 
nomeCadastroEndereco:
numeroCep: 
nomeRua: 
numeroEndereco: 
complemento: 
bairro: 
cidade: 
estado: 
    <ion-button (click)="salvar()")>Salvar</ion-button>
    <br>
    <ion-button [routerLink]="['/home']">Voltar</ion-button>
  </div>
</ion-content>
