<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharLogin()">Fechar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate></form>
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input [formControl]="entNome" (click)="this.antNome=''">{{antNome}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CPF:</ion-label>
      <ion-input [formControl]="entCPF" type="number" (click)="this.antCpf=''">{{antCpf}}</ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="entCPF.invalid" expand="block" (click)="salvarLogin()">Salvar</ion-button>
  </form>
</ion-content>