<ion-header>
  <ion-toolbar>
    <ion-title>Filtrar Profissionais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <br><br><br><br>
    <ion-item>
      <ion-label>Serviço:</ion-label>
      <ion-select interface="popover" formControlName="servico">
        <ion-select-option *ngFor='let serv of servicos'>{{serv}}</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Local:</ion-label>
      <ion-select interface="popover" formControlName="local">
        <ion-select-option *ngFor='let loc of locais'>{{loc}}</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Forma de Pagamento:</ion-label>
      <ion-select interface="popover" formControlName="pagto">
        <ion-select-option *ngFor='let pag of pagtos'>{{pag}}</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-button type="submit" style="width: 90%;">Buscar</ion-button>
    <br>
    <ion-button [routerLink]="['/home']" style="width: 90%;">Voltar</ion-button>
  </form>
</ion-content>
