<ion-header>
  <ion-toolbar>
    <ion-title>Filtrar Profissionais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <br><br><br><br>
    <ion-item>
      <ion-label>Serviço:</ion-label>
      <ion-select interface="popover" [(ngModel)]="servico">
        <ion-select-option *ngFor='let serv of servicos'>{{serv}}</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Local:</ion-label>
      <ion-select interface="popover" [(ngModel)]="local">
        <ion-select-option *ngFor='let loc of locais'>{{loc}}</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-button (click)="buscar()" style="width: 90%;">Buscar</ion-button>
    <br><br>
    <ion-button [routerLink]="['/home']" style="width: 90%;">Voltar</ion-button>
  </div>
</ion-content>
