<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="end">
      <ion-item>
        <ion-label style="align-content: center;font-size: small;vertical-align: bottom;" size="small">{{nome}}</ion-label>
        <ion-icon name="person-circle-outline" button (click)="login()"></ion-icon>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-label style="font-family:'Gill Sans';font-size: xx-large;">FixIn</ion-label>
    <br><br><br><br>
    <ion-label style="font-family:'Gill Sans';font-size: large;">Seja bem vindo</ion-label>
    <br><br><br>
    <ion-button (click)="cadastrar()" style="width: 90%;">Encontrar Profissionais</ion-button>
    <br><br>
    <ion-button [routerLink]="['/cadastro']" style="width: 90%;">Cadastrar meus serviços</ion-button>
  </div>
</ion-content>
